.bgimg{
    background-image: url('../../img/1.fe7ad9f1-4838-4cf3-baed-5ae06e90f02b.png');
    background-size: cover;
}

.vi-bg{
    color: violet;
    background-color: rgb(29, 28, 28);
}
#thenote{
    background-color: rgb(29, 28, 28);
    color: wheat;
    min-height: 50vh;
}

.note-editable{
    height: auto;
    font-size: 3rem;
    
}
.btn{
    color: violet !important;
}

.modal-footer{
    display: none;
}